euda53/tele-scope_Nov2019/*.pdf
euda53/tele-scope_Nov2019/data/*
euda53/tele-scope_Nov2019/mod/*
euda53/tele-scope_Nov2019/*.log
euda53/tele-scope_Nov2019/*.root
euda53/tele-scope_Nov2019/align_*
euda53/tele-scope_Nov2019/alignDUT_*
euda53/tele-scope_Nov2019/alignMOD_*
euda53/tele-scope_Nov2019/*.dat
euda53/tele-scope_Nov2019/*_test_*
euda53/tele-scope_Nov2019/ed53
euda53/tele-scope_Nov2019/edg53
euda53/tele-scope_Nov2019/edg53_original
euda53/tele-scope_Nov2019/eff_old.txt
euda53/tele-scope_Nov2019/eff.txt
euda53/tele-scope_Nov2019/hot_C.d
euda53/tele-scope_Nov2019/hot_C.so
euda53/tele-scope_Nov2019/libEUDAQ.dylib
euda53/tele-scope_Nov2019/scope53
euda53/tele-scope_Nov2019/scope53m
euda53/tele-scope_Nov2019/tele
euda53/tele-scope_Nov2019/tmp.out
euda53/tele-scope_Nov2019/.DS_Store
euda53/tele-scope_Nov2019/Run_*

euda53/notes.txt
euda53/.DS_Store
euda53/tele-scope_Nov2019/drawPlots_old.py
euda53/tele-scope_Nov2019/test_moyal.py
euda53/tele-scope_Nov2019/submit_jobs.py
euda53/tele-scope_Nov2019/scope53m_deltaRays
euda53/tele-scope_Nov2019/deltaRays.csv
euda53/tele-scope_Nov2019/deltaRays_gt6.csv
.DS_Store
euda53/tele-scope_Nov2019/scope53m_Daniel_June2020.cc
euda53/tele-scope_Nov2019/*.png
euda53/tele-scope_Nov2019/*.pdf
euda53/tele-scope_Nov2019/tele_Daniel_June2020.cc
euda53/tele-scope_Nov2019/scope53m_Daniel
euda53/tele-scope_Nov2019/inversedVCAL_w6067_336_793_20.npy
euda53/tele-scope_Nov2019/inversedVCAL_w6067_336_793_29_sensormap.npy
euda53/tele-scope_Nov2019/inversedVCAL_w6067_355_1500_20_sensormap.npy
euda53/tele-scope_Nov2019/inversedVCAL_w6067_355_1500_20.npy
euda53/tele-scope_Nov2019/inversedVCAL_w6067_336_793_29.npy
euda53/tele-scope_Nov2019/fittp0.C
euda53/tele-scope_Nov2019/make
euda53/tele-scope_Nov2019/hot_C_ACLiC_dict_rdict.pcm
