euda53/tele-scope_Nov2019/*.pdf
euda53/tele-scope_Nov2019/data/*
euda53/tele-scope_Nov2019/mod/*
euda53/tele-scope_Nov2019/*.log
euda53/tele-scope_Nov2019/*.root
euda53/tele-scope_Nov2019/align_*
euda53/tele-scope_Nov2019/alignDUT_*
euda53/tele-scope_Nov2019/alignMOD_*
euda53/tele-scope_Nov2019/*.dat
euda53/tele-scope_Nov2019/*_test_*
euda53/tele-scope_Nov2019/ed53
euda53/tele-scope_Nov2019/edg53
euda53/tele-scope_Nov2019/edg53_original
euda53/tele-scope_Nov2019/eff_old.txt
euda53/tele-scope_Nov2019/eff.txt
euda53/tele-scope_Nov2019/hot_C.d
euda53/tele-scope_Nov2019/hot_C.so
euda53/tele-scope_Nov2019/libEUDAQ.dylib
euda53/tele-scope_Nov2019/scope53
euda53/tele-scope_Nov2019/scope53m
euda53/tele-scope_Nov2019/tele
euda53/tele-scope_Nov2019/tmp.out
euda53/tele-scope_Nov2019/.DS_Store
euda53/tele-scope_Nov2019/Run_*

euda53/notes.txt
euda53/.DS_Store
euda53/tele-scope_Nov2019/drawPlots_old.py
euda53/tele-scope_Nov2019/test_moyal.py
euda53/tele-scope_Nov2019/submit_jobs.py
euda53/tele-scope_Nov2019/scope53m_deltaRays
euda53/tele-scope_Nov2019/deltaRays.csv
